[2018-08-14 13:53] NeighborGeek opened #1 "Add a Sign Out button"
After logging in to LAPSWeb, there doesn't appear to be any way to sign out.  Even after closing the tab and browsing to our LAPSWeb site in a new browser window, it still seems to be signed in.

There should be a link or button to explicitly sign out of the site and show a confirmation that the user has been signed out.  Also, sign in should not persist beyond the browser session.  If I close the

[2018-08-14 14:03] ryannewington commented on #1
Are you using an external authentication provider or integrated windows auth?

[2018-08-14 14:26] NeighborGeek commented on #1
Windows Authentication

[2018-08-15 07:34] ryannewington commented on #1
The problem with IWA is the authentication happens between IIS and your browser, and the web site doesn't participate in that. There technically isn't a way for the web app to sign you out. You do need to close your browser to have it 'forget' the session it set up with the web server.

Depending on your browser settings, you might even get signed in immediately when visiting the site, without a p

[2018-08-20 15:47] NeighborGeek commented on #1
That's kind of scary.  I could see a case where an IT person borrows a user's computer (already signed in as the user) for a moment, logs in to LAPSWeb (using their IT credentials) to look up a password, and then closes the window thinking they are signed out.  If the user were to pull the site up later, perhaps from their history, it would still be logged in as the IT person and give the user acc

[2018-08-23 00:47] ryannewington commented on #1
@NeighborGeek Yes it's not great. I've provided the functionality so people have choice. But I do recommend AzureAD instead. The signout button appears when using a provider that supports logoout (eg Azure AD or ADFS).

[2018-10-03 13:31] njd90 opened #2 "Authentication ADFS : IDX10214: Audience validation failed"
Hello,

I try ADFS authentification but i got an error
`
The authentication provider returned an error
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'https://laps.utbm.fr'. Did not match: validationParameters.ValidAudience: 'https://laps.utbm.fr/' or validationParameters.ValidAudiences: 'null'.
   at Microsoft.IdentityModel.T

[2018-10-03 13:34] ryannewington commented on #2
Hi.

I think the audience must match exactly. Drop the trailing slash from the config version, or add it to the ADFS.

Audiences: '**https://laps.utbm.fr<---**'.
Did not match: validationParameters.ValidAudience: '**https://laps.utbm.fr/<----** '

[2018-10-03 13:42] njd90 commented on #2
Hi,

Thanks, it's work.

[2018-10-03 13:43] #2 closed

[2019-01-08 04:39] elesh27 opened #3 "Unable to see Password even after group is present in Targets"
I have specified container and in reader principal i have specified group "Domain\Domain Admin" and i am member of Domain Admin, but when i request for password of System in that container it says "You are not authorized to access the password for this computer" and in logs it says "The user Sudam_s requested access to computer -------$ but no targets exist for this computer"

[2019-01-08 04:51] ryannewington commented on #3
Hi @elesh27,

Can you post your targets authorisation XML section please?

[2019-01-08 06:43] elesh27 commented on #3
<targets>
      <target name="DC=Domain,DC=com" type="Container" expire-after="02:00:00">
        <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="server-admins@dev1.local"/>
        <readers>
          <reader principal="Domain\webadmin" />
        </readers>
      </target>
     </targets>

[2019-01-08 06:45] elesh27 commented on #3
<targets>
      <target name="DC=Domain,DC=com" type="Container" expire-after="02:00:00">
        <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="server-admins@dev1.local"/>
        <readers>
          <reader principal="Domain\webadmin" />
        </readers>
      </target>
     </targets>

[2019-01-25 11:27] elesh27 opened #4 "for smtp mail sending where should i put credentials"
for smtp mail sending where should i put credentials

[2019-01-25 11:32] ryannewington commented on #4
Hi @elesh27,

In your web.config file, there is a system.net/mail settings section. You add the credentials in the as per the example here

https://stackoverflow.com/questions/19233108/how-to-configure-smtp-settings-in-web-config

[2019-02-07 05:18] ryannewington opened #5 "Error when expiring LAPS password"
An unhandled error occurred while processing the request for the password for xxx by user administrator
System.FormatException: String was not recognized as a valid TimeSpan.
   at System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName)
   at System.Globalization.TimeSpanParse.T

[2019-02-11 09:43] elesh27 commented on #4
Thanks but after adding credentials, i am getting "emailSystem.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the validation procedure." error in log file and mail is not sent.

[2019-02-11 10:12] ryannewington commented on #4
You've enabled SSL in the config section, but the server's SMTP TLS certificate is not trusted by the client for some reason. It may be self-signed, contain a mismatched hostname, or out of date.

[2019-02-23 03:13] #4 closed

[2019-02-23 05:39] elesh27 opened #6 "Getting error while retriving password : n unhandled error occurred while processing the request for the password for PC---------- by user --------- System.Runtime.InteropServices.COMException (0x8000500C): Unknown error (0x8000500c)"
2019-02-23 10:54:54.9675|ERROR|An unhandled error occurred while processing the request for the password for PC---------- by user --------- System.Runtime.InteropServices.COMException (0x8000500C): Unknown error (0x8000500c)
   at System.DirectoryServices.PropertyValueCollection.PopulateList()
   at System.DirectoryServices.PropertyValueCollection..ctor(DirectoryEntry entry, String propertyName)

[2019-02-24 11:36] ryannewington commented on #6
@elesh27 is the laps server joined to the domain? if it not, that's not a supported configuration.

If it is, then perhaps try clearing your ADSI schema cache. https://stackoverflow.com/a/24533535
Have you rebooted the LAPS server since adding the LAPS schema to AD?

[2019-03-21 15:17] benclaussen1 opened #7 "The required anti-forgery form field "__RequestVerificationToken" is not present."
I am receiving this error when I request a password for a computer (I turned off custom errors to see it)... It worked **once** and retrieved a password, but that's it. It does not matter what I enter for a computer name.
![image](https://user-images.githubusercontent.com/46791633/54758531-bab9fb00-4bc2-11e9-97ee-7b5fb8b6a46a.png)

Some Googling led me to [StackOverflow](https://stackoverflow.com/

[2019-03-21 17:21] ryannewington commented on #7
Hi @benclaussen1 ,

It looks like something is tampering with the anti-forgery token. It's a pretty simple mechanism, not a lot can go wrong with it unless something is getting in the way. Eg browser plugins for perhaps a proxy of some sort.

Have you tried a plugin-less browser? Do you have a proxy or any other machinery in between your client and server that could be having an impact here?

[2019-03-21 19:06] benclaussen1 commented on #7
Welp... not a browser plugin but an IIS module. Something about the [Modsecurity IIS module](https://stackoverflow.com/a/36174875) was messing it up. I disabled the module for this website and its working now... No idea what about it actually caused the issue and not worth figuring it out since I don't need it for this site.

Thanks!

[2019-03-21 19:06] #7 closed

[2019-04-15 20:24] 10Sfan opened #9 "System.FormatException: String was not recognized as a valid TimeSpan"
I have laps-web installed on a Windows Server 2012 machine. I verified that the service account can read/reset the LAPS password using Microsoft's LAPS UI tool just fine. I get the error message below when I search for a computer in LAPS-Web. Any help is greatly appreciated. Thank you!

An unhandled error occurred while processing the request for the password for computer XXXXX by user XXXXX
Syste

[2019-04-17 06:16] iyovkov opened #10 "Working in multiple domains in the same forest"
I am having difficulties making LAPSweb working in a multi domain forest environment.

I have DomainA.contoso.com and DomainB.contoso.com. LAPS and LAPSweb are installed in DomainA. I got it working for this domain. I have an OU containing all client computers in DomainB. Already gave read permissions for the service account on the OU.

First I tried to set the OU from DomainB in the web.conf and

[2019-05-03 12:02] bezmena commented on #10
Hey, i am having the same problem. Have you found out any solution yet?

[2019-05-04 13:15] ryannewington commented on #10
Hi guys,

My apologies but I'm on leave at the moment and have very little internet access. There is likely an assumption in the code of a single domain. I suspect we are binding to the DC in a site the LAPS server is joined to, which would mean queries against other domains would 'fail' with a referral.

I'll need to tackle this one when I get back, but that's not going to be until late June unfo

[2019-05-04 13:33] bezmena commented on #10
You are right, I tried to dig in and changed `PrincipalContext` in `GetComputerPrincipal` function like this:
[code]
where `server` is any address of global catalog running at port 3268
That will find any computer in given forest.

[2019-06-03 15:30] #9 closed

[2019-06-14 08:34] lockkie0 commented on #5
I have the same problem. How resolve it?

[2019-06-14 23:56] ryannewington commented on #5
@lockkie0 what language and regional settings do you have on both the server and workstation

[2019-06-15 04:55] lockkie0 commented on #5
@ryannewington on both servers settings:
Windows - Server 2019
Display language - English (United States)
Region - Russia
Regional format - Russian (Russia)

I aslo have different settings Region and Regional format (English or Russian) on other servers

[2019-06-18 00:36] ryannewington commented on #5
Hi @lockkie0,

The problem seems to be parsing the 'expire-after' attribute in the web.config file.

Can you check each target and let me know what the text string value is for this attribute?

[code]

[2019-06-18 00:38] ryannewington commented on #6
Hi @elesh27

please feel free to reopen this issue if you need additional assistance.

Ryan

[2019-06-18 00:38] #6 closed

[2019-06-18 00:39] #1 closed

[2019-06-18 18:32] colorenz opened #11 "Add a field to capture the reason for the LAPS request"
Hello,

I would like to add a text box. So that a reason can be given why the password was retrieved. I would also like to copy this text to Loggin. How can I implement this?

[2019-07-01 15:20] fsecchia commented on #10
Hi there, exactly the same problem here. Any chance to have a new build supporting global catalog and domain forest?

Thanks
Fabio

[2019-07-29 12:05] iyovkov commented on #10
Hello guys. I tried what bezmena suggested and it worked out. Thanks a lot! I now discovered one more issue. I can't use accounts form different child domains. Currently I set it up to work with Windows authentication. Whenever I try logging with an account form a different domain I get this error:

Your request could not be processed because your SSO identity could not be found in the directory
S

[2019-07-30 15:53] red-erik commented on #10
Hello,
@bezmena: would you be so kind to give more details ? Im not a programmer and I don't know where to find GetComputerPrincipal function. The same I can't recompile source code.
Thank you in advance.

Regards.

Red.

[2019-07-31 12:28] red-erik opened #12 "The requested computer was not found in the directory"
Hello,
I've configured everything on Root domain but I'm still receiving this error. If I check it with MS LAPS fat client, everything is working.
Any suggestion ?

Regards.

Red.

[2019-07-31 12:55] red-erik commented on #12
My fault, for a single domain is working as expected.

Red.

[2019-07-31 12:55] #12 closed

[2019-07-31 19:44] ryannewington commented on #12
Multi domain support is coming in a future version

[2019-09-18 05:12] ryannewington commented on #10
Hi all,

I'm currently waiting on a dev environment to be spun up with multiple domains, forests, and trusts, so I can test and make sure all scenarios are working. I appreciate everyone's patience on this issue, and rest assured, it is the first feature out the door with the next version.

Ryan

[2019-09-19 13:35] zuboje opened #13 "Cannot find computer in AD"
I have followed all instructions on how to install and setup this solution. I have created all appropriate permissions per [this page](https://github.com/lithnet/laps-web/wiki/Configure-LAPS-service-account-permissions). I am receiving error when trying to search AD. I know AD computer object exists but when I click "request password" I receive following"

2019-09-19 09:30:41.6530| INFO|_USER_ has

[2019-09-19 14:10] zuboje commented on #13
Issue was in config for binding OU

[2019-09-19 14:10] #13 closed

[2019-09-24 01:56] GregoryMachin opened #14 "Select users can only access selected computers LAPS Password"
Hi,
This is a feature request.
It seems that all the tools for LAPS are all or nothing, effectively a user that has access to the stored LAPS passwords has access to all computer objects LAPS passwords. This is fine for the IT support team, but not for special use cases.

Would it be possible to have a configuration where an authenticated user can be assigned a list of devices that they can retrie

[2019-09-24 14:18] dlsmlss commented on #14
1. You can do you request with LAPS with out any problems.
- create user group and include needed users to it
- move "needed" computer to different OU
- disable inheretence
- create new delegation for those 2 attributes for newly created group
- profit
2. You can do it this task without any laps-web product improvements
https://github.com/lithnet/laps-web/wiki/Permissions
just take a look at confi

[2019-09-24 21:16] ryannewington commented on #14
@dlsmlss is correct. A target does not have to be an OU, it can be a group containing computer objects, or even a single computer object itself.

https://github.com/lithnet/laps-web/wiki/Permissions

Have a look at the 'Web servers' example in the page above. I think that is what you are after, but if not, let me know.

[2019-09-27 07:17] red-erik commented on #10
Thank you for the update.
Anyway, if more simple, it would be enough to create anew Authentication method ad STANDARD LDAP, passing LDAP server and port for auth and object search. That way should be possible to use a global catalog.
Regards.

Red.

[2019-09-30 04:38] ryannewington commented on #10
@red-erik I'm happy to put something together, but I can't test it at the moment. Do you have the capability to validate the change and ensure it works as you expected?

[2019-09-30 07:27] red-erik commented on #10
Sure. I'm working in a corporate environment with a single Active directory with 1 root domain and 4 child domains...

[2019-09-30 14:15] dlsmlss commented on #10
@ryannewington also can join to "lab rats club"

[2019-09-30 23:54] ryannewington commented on #10
Thanks guys.

Can you also let me know where objects are located in your setup. Which domain are the users in, which domain are the computers in, where your security groups are located, and where the LAPS server is located. A simple little diagram would be awesome.

Ryan

[2019-10-01 11:09] RonnyPetersson opened #15 "Cannot find computer in AD With message requested access to computer XXXX$ but no targets exist for this computer"
I made all the settings according to the manual but I can not see the password and the log shows the following message:

Requested access to computer XXXX$ but no targets exist for this computer

[2019-10-01 11:47] RonnyPetersson commented on #15
@ryannewington I sent I sent to your email the XML and log files.

Thanks

[2019-10-01 12:33] ryannewington commented on #15
Hi @RonnyPetersson,

Two problems

1. The '<targets>' element in your config file is commented out. Remove the `` to uncomment.

[code]

2. The `target name` attribute is missing `OU=` in front of `OU=Desktops`

[2019-10-01 13:05] RonnyPetersson commented on #15
Hi @ryannewington ,
                             I made the adjustments and the error is now another:

**The requested computer does not have a LAPS password**

In GUI LAPS I usually refer to the password.
Thanks

[2019-10-01 13:11] ryannewington commented on #15
@RonnyPetersson,

That message appears if the service account that the web site is using doesn't have permissions to read the LAPS password from the directory.

https://github.com/lithnet/laps-web/wiki/Configure-LAPS-service-account-permissions.

Ryan

[2019-10-01 13:36] RonnyPetersson commented on #15
Hi @ryannewington ,
                   I set the permissions and the error is the same

[2019-10-01 14:20] red-erik commented on #10
LAPS server on root Domain (Domain A) while users and computer in 4 sub domains (Domain B, Domain C, Domain D and Domain E). Security groups are present in ALL domains.
It's a simple AD tree in witch from Root you find OU,Users, Groups, Computers and **subdomains** and in Subdomain you find OU, Users, Groups, Computers....(bi-direction implicit trust relationship are in place, by default).

Red.
!

[2019-10-02 08:57] dlsmlss commented on #10
Almost same scheme like @red-erik has
![diag](https://user-images.githubusercontent.com/41381305/66031186-2c281e00-e503-11e9-808a-8b4867ba512a.png)
laps-web computer joined to root domain.
IT stuff from each subdomain request passswords for own domain.

[2019-10-02 09:37] RonnyPetersson commented on #15
Hi @ryannewington , I configured a service account for login as a job and service and Lapseweb successful password query.
Thanks

[2019-10-02 09:37] #15 closed

[2019-10-08 10:16] red-erik commented on #10
Hello,
any news an some new bit to test ? Please remember that I can't compile source code so to able to test it I need a pre-compiled version.
Regards.

Red.

[2019-10-09 09:45] ryannewington commented on #10
Hi guys, thanks for getting those to me. Very helpful. I should have something for you to test this weekend.

Ryan

[2019-10-12 01:17] ryannewington commented on #10
Ok here is the test build.

[Publish.zip](https://github.com/lithnet/laps-web/files/3720031/Publish.zip)

Backup your web.config files and deploy this version over the top of your current web app.

I've tested this against a single-forest GC, and it seems to be working ok. I don't have my full multi-domain environment set up yet, so I'll admit, some of this has been reading MDSN docs and guess wor

[2019-10-12 01:18] ryannewington commented on #14
Closing this issue. Please reopen if you need additional help.

[2019-10-12 01:18] #14 closed

[2019-10-12 01:29] #5 closed

[2019-10-12 02:39] ryannewington commented on #10
A couple of notes on this release

- You'll need .NET 4.8 installed
- Overwrite the following blocks in the web.config file with those from your old file that you backed up
  * `<lithnet-laps>`
  * `<appSettings>`
  * `<nlog>`
  * `<system.net>` if you are using the email functionality

[2019-10-12 21:29] dlsmlss commented on #10
@ryannewington thanks Ryan! Will try to test it on Mon-Wed.
Btw, @red-erik asked you about LDAP/LDAPS 3268/3269. Is it implemented in this release?

[2019-10-12 22:09] ryannewington commented on #10
The work around suggested providing the ability to set a global catalogue ldap server and Port is no longer needed.

We use GC for all searches now, and then grab objects from the domains they reside in.

[2019-10-14 08:42] red-erik commented on #10
Hello,
thank you for your time and fo a new relese.
Those are the result from my test:
User in root domain and server in root domain --> OK
User in child domain and pc in child domain --> see LAPS2.jpg
User in root domain and pc in child domain  --> seel LAPS1.jpg

Basically, it seems the the AD group membership (used to verify if the user can access LAPS password) and computers "AD container" are

[2019-10-14 10:41] ryannewington commented on #10
@red-erik can you send me the log file from the app_data/logs folder - ryan@lithnet.io

[2019-10-14 14:51] dlsmlss commented on #10
@ryannewington Hi Ryan!
I have finished my tests and can confirm that in my case everything working as expected. Tested scenarios:
- OU in child - requester in root domain
- OU in root - requester in child
- Group in child - requester in root
- Group in child - requester in another or same child

PS: also i made "clean" install on W2019 and discovered that you have to select Static content in IIS

[2019-10-14 14:54] dlsmlss commented on #10
@red-erik btw... did you add permissions with command suggested by Ryan?
Have same errors but after that I used
[code]
and it fixed my problem

[2019-10-15 01:38] ryannewington commented on #10
@dlsmlss great news. What type of authentication are you using? Windows auth works a little differently from OIDC and WS-Fed, so just want to know which scenario is confirmed working for you.

@red-erik what auth mode are you using?

[2019-10-15 06:33] dlsmlss commented on #10
@ryannewington Ryan, my test done with ADFS auth.

[2019-10-15 07:27] red-erik commented on #10
Hello,
I've checked the log and it simply states that I'm not authorized to view computer password while I've explicitly authorized an AD User Group to read it with Set-AdmPwdReadPasswordPermission.
This morning I'll recheck everything but if I use Fat Client everything is working as expected so it's not a permission problem.

@ryannewington : Does the app search for computer objects in the specif

[2019-10-15 07:33] ryannewington commented on #10
@red-erik

Is a bit hard to guess what's going on. I need to see the logs myself. Are you able to share them, as well as your Web.config file? You can email them to ryan@lithnet.io

Ryan

[2019-10-15 07:41] dlsmlss commented on #10
I dont know how it's related to @red-erik  problem, by have something similar...
I have those lines in config.
[code]
Computer MSS-EXMB01 belongs to "OU=SERVERs,DC=xxxx,DC=local" container.
When I try to get password by requester username i got "You are not authorized to access the password for this computer"
In logs:
[code]

[2019-10-15 07:52] ryannewington commented on #10
@dlsmlss can you send me the rest of the audit log? Email is fine if you don't want to paste on here

[2019-10-15 08:01] dlsmlss commented on #10
@ryannewington 📧 sent.

[2019-10-15 09:19] ryannewington commented on #10
Updated build to fix issue reported by @dlsmlss. There was an error in the code impacting computer-based target types.

[Publish.zip](https://github.com/lithnet/laps-web/files/3728392/Publish.zip)

[2019-10-15 10:00] dlsmlss commented on #10
@ryannewington I can confirm that computer related problem fixed, but some strange things with "cross-targets" still present.

[2019-10-15 10:20] ryannewington commented on #10
The code that dealt with target prioritization was not working correctly. Computer targets should take preference over Container targets, but that didn't happen in this case.

Updated build to fix this issue:
[Publish.zip](https://github.com/lithnet/laps-web/files/3728669/Publish.zip)

[2019-10-15 10:36] red-erik commented on #10
Hello,
for me the same problem...FAT UI working, laps web not. The account used for Application Pool is an enterprise admin and it is part of all authorized groups. See jpeg

Regards,

Red.
![laps_3](https://user-images.githubusercontent.com/10245160/66824378-728c6c80-ef48-11e9-93c0-3a0de9c8c70b.JPG)

[2019-10-15 11:00] red-erik commented on #10
Ok solved it..it's time to search for a new job...I simply wrote the wrong group in web.config.
I'll do all possible tests today afternoon and let you know the results.
Forgive my foolish error.

Regards,

Red.

[2019-10-15 11:10] dlsmlss commented on #10
Am I right that priority is:
- Standalone computer
- Group
- Organizational unit

Anyway, I can confirm that all working as expected now. 🍻

[2019-10-15 11:53] red-erik commented on #10
Another question is:
how search is made in AD ? We have a lot of OU nested containing client PC. I have authorization to readl LAPS password on ALL of them but in web.config, do I need to specify them all or only the base DN ?

Regards,

Red.

[2019-10-15 12:12] dlsmlss commented on #10
@red-erik root DN of OU will be enought.

[2019-10-15 12:48] red-erik commented on #10
Thank you @dlsmlss . I'm checking it right now

[2019-10-15 13:02] red-erik commented on #10
Hello,
I have the setup working but with an exception:
User in Subdomain A can't read password for PC in SubdomainB. Obviously the Fat Client is working.
All other tests are fine and everything else is working as expected.
Regards,

Red.

[2019-10-15 20:08] ryannewington commented on #10
@red-erik Can you outline how the user is a member of that group and the group types . Eg
Domain1\user is a member of domain2\somegroup (global group) which is a member of domain3\lapsgroup (universal group)

Can you also add your laps service account to the 'Windows authorisation access' group and see if that resolves the issue.

[2019-10-16 06:50] red-erik commented on #10
Hello,
this is the architecture:
Red member of domainA\LAPS_Readers (Domain Local Group): able to read password from domainA computers.
Red (from domainA) member of domainB\LAPS_Readers (Domain Local Group): unable to read password for domainB computers with error |TRACE|Current user Red is not a member of the group reader principal domainB\LAPS_Readers

The account used to to run LAPS Application

[2019-10-16 07:04] ryannewington commented on #10
@red-erik your group membership is calculated in "domain a" when your account lives. Domain local groups in other domains are not part of this membership list. Your "domainb\lapsreader" group needs to be a global group, so it appears in the group membership logon token for your account in "domain a".

As a side note: some unsolicited advice. Run laps as a standard user account (or gsma) not a da/e

[2019-10-16 07:19] red-erik commented on #10
Hello,
I'm trying running LAPS with Enterprise Admin only for testing purpose but I'll change it to a standard account with required permission.
We need to use local domain groups because we need to populate them with account from a trusted forest delegated to AD management and nesting requirements.
The FAT Client works as expected so I assume that we could change how LAPS Web application check fo

[2019-10-16 08:19] ryannewington commented on #10
If you run the laps client from a machine in domain A as the user from domain A, are you able to read the laps password for a machine in domain B?

Or are you running the laps client as the user from domain A, but on a machine in domain B?

[2019-10-16 08:34] red-erik commented on #10
I run Fat client from domainA, on mu PC indomainA with my account in domainA and I'm able to read pc password for a machine in domainB

[2019-10-16 08:43] ryannewington commented on #10
If you run "whoami /groups" on the pc in domain A, do you see the "domainB\LAPS_readers" group?

[2019-10-16 08:46] red-erik commented on #10
No, I can see membership in other domains' groups but I DON'T see the doaminB\LAPS_Readers

[2019-10-16 08:57] ryannewington commented on #10
Ok that's what I would have expected. That list is the same list we use to check permissions.

Could there be another group that is actually giving you permission to read the laps password in the other domain? One that uses a universal group instead?

[2019-10-16 08:58] red-erik commented on #10
not, for sure. My personal account is a standard Ad user without any particular privilege, I only receive permissions through Group membership

[2019-10-16 09:26] red-erik commented on #10
Hello,
as written before, I can't change that group because it has members from a TRUSTED Active Directory Forest used for AD management so ADUC won't let you change it without removing foreign groups. Our security structure REQUIRES that we manage production AD from a foreign trusted dedicated forest.

[2019-10-16 09:27] red-erik commented on #10
anyway, Fat client work fine and fast, in a few seconds I have the password but I don't know how it check for permissions..probably it simply try to read the password of the computer using my account

[2019-10-16 09:41] red-erik commented on #10
This could and I say "COULD" be an idea. LAPS access is already managed and protected by permissions in AD, so, why we need to double check if the user is authorized or not ? wouldn't be simpler to pass the browser credential directly to the read request and grab the results ?
I'm not a programmer and I don't know if it easy to do or the most complicated thing to implement....

[2019-10-16 09:50] red-erik commented on #10
OK..got it working. In readers section of web.config I need to put the LAPS_Readers group from ALL involved domains, eg:
readers>
          <reader principal="A_domain\Admin_LAPS_PC" />
	  <reader principal="B_domain\Admin_LAPS_PC" />
          <reader principal="C_domain\Admin_LAPS_PC" />
</readers>

[2019-10-16 10:07] red-erik commented on #10
but from Foreign Ad the problem is still here. The security token solution is suitable for a single Active Directory and not Multiple Active Directory's forests connected with TRUST
@ryannewington  Thank you very much for your time and help

Regards,

Red.

[2019-10-16 10:57] ryannewington commented on #10
Let me have a look at the domain local scenario further.

Regarding cross-forest trusts, that's going to have to wait until I have my new dev environment set up. I can't do much without that.

[2019-10-16 12:46] red-erik commented on #10
sure, and thank you for your valuable work.

Red.

[2019-10-16 13:56] dlsmlss commented on #11
I have a little bit more to say on this enhancement.
Can it be looks like Windows Server 2003 shutdow dialog? I mean with some "predefined" reasons (that could be configured throught web.config) and "Other reason" that "activate" text box to fill reason manualy.
Thanks!

[2019-10-17 10:47] dlsmlss commented on #11
Also have one more thing to add - reason can be optional or requred (also can be configured throught web.config).

[2019-10-18 07:32] ryannewington commented on #10
Ok,

So the reason that the fat client is working turns out to be that while your logon token is generated in your home domain, and does NOT have that domain local groups from the other domain in it, when its presented to the target server, a new impersonation token is created by the server authorizing you to read the LDAP directory. Because that server is in the other domain that includes the loc

[2019-10-18 10:01] red-erik commented on #10
Hello,
thank you for this. My LAPS Web application is running on Windows 2016 server. I updated with new zip but if I remove the groups from other child domain from web.config (I did not override it, should I ?) it does not work for the usual reason: Matched reader principal empty.
Have I to configure something else?

Red.

[2019-10-18 10:25] ryannewington commented on #10
@red-erik Do you mind sharing the relevant log section for the attempt? The end result only tells me what happened (it didn't work), but doesn't tell me why. The log shows me the steps the code went through, and from that I can infer what part of the resolution process failed.

[2019-10-18 10:50] red-erik commented on #10
Ok..I see the new BOX for the request reason but we have a couple of problem:
1) unable to connect to remote server to request token
2) something wrong in the email sending sequence (I receive the email but the system is trying to send email to foreign address too, not allowed by our SMTP server)
3) we have a lot of firewalls between servers so, witch port do you need to use to reach another child

[2019-10-18 11:07] ryannewington commented on #10
@red-erik apologies I must have left my test Web.config in there. You can overwrite that fully with your own. There's no changes needed from the last version you had.

Unfortunately though, the dc would need to be 2012 or higher for this new method to work. The error we got is because the rpc service to do the authz check doesnt exist in that version of windows.

Do you have any 2012+ domains with

[2019-10-18 11:54] red-erik commented on #10
Unfortunately on production Domains ALL DC are Windows 2008 R2. We will upgrade to Windows 2016 but not immediately.
Really thank you for all you support and great work.
I'll roll back to previous version with Groups from all domain configured in the web.config because that way it works.
Can you tell me how to preserve the REASON BOX (in email too) with previous version ?
Thank you very much.

Red

[2019-10-18 19:30] ryannewington commented on #10
The reason stuff is still being developed, you can keep an eye on this issue and as soon as I finalise the config settings I'll post them there https://github.com/lithnet/laps-web/issues/11

[2019-10-18 19:43] mgorski10 opened #16 "Prompt for credentials"
I am wondering if it is possible to have the web app prompt for credentials when accessing the website instead of using SSO.  I have implemented the web app and it works well but since i have access to it tied to my user's privileged admin domain accounts, they are complaining of the need to launch a browser as that account as opposed to being allowed to navigate to the site and have access right

[2019-10-18 19:54] ryannewington commented on #16
Do you have adfs or azure ad? You can delegate authentication to either of those of that it an option?

[2019-10-18 22:12] mgorski10 commented on #16
Thanks for responding. I'll don't believe we are yet and so will need to check. But if we are, how do you mean delegate authentication?  From what I understand, wouldn't that be the same as if we granted access to user's non privileged account vs the privileged one in the web.config?

Sent via the Samsung Galaxy Note9, an AT&T 5G Evolution capable smartphone

-------- Original message --------
Fro

[2019-10-18 22:27] ryannewington commented on #16
When you have the web app hand off the authentication process to AzureAD/ADFS, those services will prompt for a username and password, and return the authorization information back to the web app. They can log into those services with their privileged account when prompted. An added bonus is that if those services support MFA, you can inherit that additional protection.

This page talks about how

[2019-11-05 08:16] red-erik commented on #10
Hello,
any news on this topic ?

Regards,
Red.

[2019-11-07 08:23] hbamford opened #17 "Azure AD Authentication"
When setting up Azure AD as the Authentication method i am getting the below error message

[2019-11-07 12:59] ryannewington commented on #17
Hey @hbamford
This usually caused by a cookie problem. Any blockers in use in your browser? Does it happen across all browsers?

[2019-11-26 19:15] skysbsb opened #18 "Revoke permissions"
hello, how do i undo delegate permission for the service user?

I gave permission by running the following command:

dsacls "dc = rond, dc = local" / G "rond.local \ david: CA; ms-Mcs-AdmPwd; computer" / I: S

[2019-11-26 21:20] ryannewington commented on #18
@skysbsb

You can remove permissions using the `/r` switch of [dsacls](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc771151(v%3Dws.11))

It will be something like `dsacls "dc=rond, dc=local" /R "rond.local\david"`

[2019-11-27 20:32] skysbsb commented on #18
someone else suggested running:

dsacls "dc=rond,dc=local" /R "david@rond.local:CA;ms-Mcs-AdmPwd;computer" /I:S

what do you think?

[2019-11-27 21:06] ryannewington commented on #18
@skysbsb if you are not comfortable using the command line, you can use Active Directory Users and Computers. Right-click on the top level domain object and select properies. From there, in the security tab, you will be able to see and remove the delegation.

[2019-11-27 21:18] skysbsb commented on #18
ok tks

[2019-11-27 21:18] #18 closed

[2019-12-06 13:03] mrmueller opened #19 "Requesting passwords not possible if user is on Server 2019"
Hi,

Thanks for this great tool, we are using it with success :)

There seems to be a problem tough, if the web interface is called from IE on a Windows Server 2019.
The request does not end up in the logs or in event viewer. There is just the error in the web interface which you can see below. Let me know if you need more information.

Thanks

![laps2](https://user-images.githubusercontent.com/95

[2019-12-07 05:42] ryannewington commented on #19
Very strange, let me look into this further

[2019-12-09 23:13] ryannewington commented on #19
@mrmueller I can't seem to reproduce this. IE11 on Windows Server 2019 is working for me. Is there anything else about the environment that you can tell me to help reproduce what you are seeing?

When does the error appear?

[2019-12-23 02:21] mengdahuang opened #20 "Add support for not expiring the LAPS password on access"
Hi, Sir

Thanks too much to share this great tools. however,  i don't want using the option "expire-after", i want control it via GPO. but when i choose remove this Property or set the vault to "false" then it going wrong.

Below are the logs
“2019-12-23 15:43:12.6341|ERROR|An unhandled error occurred while processing the request for the password for PC by user jasonSystem.FormatException: .......

[2019-12-24 23:12] #16 closed

[2020-01-09 01:48] ryannewington commented on #20
@mengdahuang

What happens if you remove the expires-after element altogether. So instead of

[code]

you'll just have

[code]

[2020-01-09 01:49] ryannewington commented on #19
@mrmueller Just checking in to see if you are you still having this issue?

[2020-01-13 13:24] #17 closed

[2020-01-13 15:38] marcohald opened #21 "The computer pc$ requested by user did not have a LAPS password in the directory"
I have laps-web installed with a Service Account with permissions to read and reset the Passwords.
When i try to get a Password i get "The computer pc$ requested by user did not have a LAPS password in the directory" in the Eventlog
When i run the LAPS-GUI with the same user Account i can get the Password.
What is the best way to debug this Problem ?

[2020-01-14 14:32] vadimik opened #22 "Windows authentication"
Hello,

May be it is silly question what is the best and easiest solution to restrict access to laps-web using configured WindowsAuth, if we have windows domain and iis? I mean that only group of domain users
should have ability to sing in to laps-web site?

 <add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureWindowsAuth" />

[2020-01-14 23:04] ryannewington commented on #22
Hi @vadimik,

There are two steps, the first is to tell the app that you want to use Windows Auth by modifying the web.config file, and configuring Windows Auth in IIS

https://github.com/lithnet/laps-web/wiki/Authentication-options#setting-up-windows-authentication

The second step is to configure your authorization in the web.config file. You can use this guide to look at the various configurati

[2020-01-14 23:07] ryannewington commented on #21
@marcohald,

Is the LAPS web app in the same domain as the AD where the computer object is stored?

If it is, it's almost certainly a permissions issues reading the LAPS password from AD. Can I double check you ran these commands to delegate permission? https://github.com/lithnet/laps-web/wiki/Configure-LAPS-service-account-permissions

And double check that the IIS application pool is running as

[2020-01-15 08:00] marcohald commented on #21
@ryannewington ,

thank you for the Hint to the IIS application pool. I haven't changed it to the one i created during the Installlation.
Now it works perfect.

[2020-01-15 08:00] #21 closed

[2020-01-16 01:35] mengdahuang commented on #20
Hi，Sir
Certainly， I've tried remove the parameter "expire-after" from the target, and it shows the error
|ERROR|An unhandled error occurred while processing the request for the password for PC by user jasonSystem.FormatException: ...................... TimeSpan .. System.Globalization.TimeSpanParse.TimeSpanResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFo

[2020-01-16 02:33] ryannewington commented on #20
@mengdahuang,

Try this build and let me know how you go

https://github.com/lithnet/laps-web/releases/tag/v1.0.7320

Remember to backup your web.config file first

[2020-01-19 03:29] mengdahuang commented on #20
Dear Sir,

Thank you so much ! the issue fixed in this version.

[2020-01-19 04:12] #20 closed

[2020-01-20 13:32] vadimik commented on #22
Thanks ryannewington!

[2020-01-20 20:26] #22 closed

[2020-01-23 00:30] elsanc opened #23 "You are not authorized to access the password for this computer"
Hi,
I installed and configured LAPS in my environment, computers are already receiving local user management; I liked the project and followed the LAPS-Web installation guides, but when I consult a managed computer, I receive the notification that "You are not authorized to access the password for this computer".

![image](https://user-images.githubusercontent.com/60203800/72946554-0cd92900-3d5e-1

[2020-01-23 00:35] ryannewington commented on #23
Hey @elsanc

Can you post your web.config file, or email it to support@lithnet.io

[2020-01-23 01:07] elsanc commented on #23
Yes. The file sent by e-mail

[2020-01-24 09:49] fjavierc opened #24 "Enable 2FA - TOTP"
First of all, thanks for providing this fantastic tool.

My question or enhanced is whether it would be very difficult to enable 2FA in the authentication process. Personally I would like users who access laps-web also use TOTP, with Google Authenticator, FreeOTP, andOTP or similar.

Thanks

[2020-01-24 10:35] ryannewington commented on #24
Hi @fjavierc

Thanks for the kind feedback.

Our supported way of offering MFA is to have the app hand off authentication to your favourite open id connect provider such as azure ad, okta, auth0, etc as per the [authentication setup guide](https://github.com/lithnet/laps-web/wiki/Authentication-options).

From there you can use whatever mfa options are offered by the authentication provider.

Unfo

[2020-01-24 20:44] skysbsb opened #25 "Error when trying to read laps password from a machine account from laps web"
Hi, the following error occurs when I tried to read the laps password for CGTI048989 from laps web console:
Event id 600:
An unhandled error occurred while processing the request for the password for CGTI048989 by user david.dgg.t2
System.UnauthorizedAccessException: Access is denied.

   at System.DirectoryServices.Interop.UnsafeNativeMethods.IAds.SetInfo()
   at System.DirectoryServices.Director

[2020-01-24 20:53] ryannewington commented on #25
Hi @skysbsb

It looks like the LAPS service account doesn’t have permissions to write the password expiry date to the AD. Did you follow the guide [here](https://github.com/lithnet/laps-web/wiki/Configure-LAPS-service-account-permissions) for delegating the read and write permissions.

If you did then I would check that the IIS app pool for the laps web app is running as the [correct service accou

[2020-02-04 09:28] JustDorian opened #26 "Error using OpenID config with Azure"
Hi
I've got a working implementation of LapsWeb using windows authentication, however have an issue when it comes to OpenID.

After following the guide the application comes up with the following:

Any ideas?

Thanks

[code]

[2020-02-04 09:37] ryannewington commented on #26
Can you share your Web.config file or email it to support@lithnet.io

[2020-02-04 09:48] JustDorian commented on #26
Just emailed that over, Thanks

[2020-02-04 10:56] ryannewington commented on #26
Resolved with correct authority url

[2020-02-04 10:56] #26 closed

[2020-02-04 22:21] skysbsb commented on #25
Hello Ryan, you are right. I really forgot to apply that permission.

Thanks.

[2020-02-04 22:21] #25 closed

[2020-02-18 16:00] mrmueller commented on #19
@ryannewington sorry for the delay. I'm not sure what happened but we are no longer able to reproduce the issue. Closing

Sorry again.

[2020-02-18 16:00] #19 closed

[2020-02-26 08:41] red-erik commented on #11
Hello,
any news on this topic ?

Regards,
Red.

[2020-03-05 15:28] skysbsb opened #27 "Event Error"
Hi, the web console is no longer consulting any machine. Every time I do the query, the following error appears (after a long wait):

An unhandled error occurred while processing the request for the password for CGTI048989 by user unknown
System.Web.HttpException (0x80004005): Unable to connect to SQL Server database. ---> System.Data.SqlClient.SqlException (0x80131904): A network-related or insta

[2020-03-05 16:29] skysbsb commented on #27
The problem appears after i tried to set roles in IIS to only allow view of the page by certains groups.. when i try to set the roles, after a long wait time, there is a .Net user erro saying that a network-related or instance-specific error ocurred while establishing a connection to sql server. i don't have any sql server configured on this IIS.. i don't understand..

[2020-03-06 02:39] ryannewington commented on #27
It sounds like you may have enabled the SQL role provider. What does your web.config look like for the site?

[2020-03-09 05:43] skysbsb commented on #27
what part of web.config do you want to view?

[2020-03-30 01:20] #23 closed

[2020-03-31 12:00] #24 closed

[2020-04-15 08:13] sylwester-majcher opened #28 "Add support for searching all targets for an applicable ACL"
Hi,
This is rather request about improvement istead of reall issue.
I mean about target matching especially for the group.
Let image the situation the computer is in the severall groups but it can have different principals.
Normally based on the documentation
https://github.com/lithnet/laps-web/wiki/Permissions#target-matching
even if I am principal for one of a group I can be block to read passwo

[2020-05-15 10:25] #27 closed

[2020-05-19 22:09] ryannewington commented on #28
@sylwester-majcher

I've come across this issue, and will look to resolve it in a future version. I actually want to make the permission model a lot simpler and move it out of the web.config file. I agree that we should allow checking all the targets for a match before rejecting the request. This would be more consistent with how windows permissions work.

Ryan

[2020-05-20 09:12] sylwester-majcher commented on #28
Hi Ryan,

In fact managing permissions in web.config for me this is not a problem only this rejecting after first checking.
Thanks a lot for your answer and I really wait new release of the tool!
Have a good day!
Sylwester

Pozdrawiam
Sylwester Majcher
________________________________
Od: Ryan Newington <notifications@github.com>
Wysłane: Wednesday, May 20, 2020 12:09:46 AM
Do: lithnet/laps-web <l

[2020-06-10 09:34] ryannewington commented on #10
Hi all,

A quick update. I've been doing a heap of work on v2 of this product, with a bunch of new features, including getting this multi domain scenario sorted out.

I've got my test environment, and have fixed a few problems in the parent/child domain scenario and also with two-way trusted forests. That's all working fine now.

@red-erik I can see the problem you are having with the one-way trus

[2020-06-11 22:51] ryannewington commented on #10
@red-erik, can I confirm the scenario you are using here?

1. RED forest is trusted by GREEN forest, but not the other way around
2. Domain Local group in GREEN forest grants access to LAPS Passwords in green forest

Where are your user accounts located? In the GREEN or RED forest?

The scenarios I have at the moment (with LAPS running from within the RED forest):
**WORKING** - User in RED forest,

[2020-06-25 10:57] sylwester-majcher commented on #28
Hi Ryan,
How do you do?
I hope you are doing fine!
Can I ask my issue/evolution of your tool?
you think to build new relase?
Best regards
Sylwester

[2020-06-25 11:06] ryannewington commented on #28
@sylwester-majcher I'm working on the next version at the moment. There are lots of changes, but this one has already been done. All targets will be processed for a match. I've still got quite a bit to do, but I'm expecting a release in the next month or two

[2020-06-25 11:32] sylwester-majcher commented on #28
@ryannewington This is a fantastic news! Thanks and have a good day! I really thanks for your great tool that improve totally working with laps passwords.

[2020-07-03 09:26] red-erik commented on #10
Hello,
I'm in the NOT WORKING scenario. I mean, I can manage group membership as I want but, basically, users in RED forest are part of Groups in RED forest. Those groups (in RED forest) are members of groups in the GREEN forest (this is a security constrain to have a Management FOREST and a Managed FOREST) that are authorized to read LAPS passwords.
Glad to help you in testing V2 version, even if

[2020-07-06 20:32] ryannewington commented on #10
Hi red,

If the groups exist in the RED forest, and are members of groups in GREEN forest, can we not just target the RED groups instead of green?

Ryan

[2020-07-07 07:36] red-erik commented on #10
Hello,
this is where we started from. I can't use different forest users to correctly authenticate in LAPS Web interface. It works using FAT Client but no in the Web interface. The same point is that I need to authorize all groups from all subdomains to have it working correctly (Global Catalog, etc.etc.)

Red.

[2020-07-07 08:02] ryannewington commented on #10
Hey Red,

Sorry mate I don't mean to frustrate you. It's very complicated to build this stuff, and I'm trying to make sure I have solutions that work for you. At the end of the day, I can't make it work the same way the LAPS client does. In the LAPS client scenario, the evaluation happens on a directory ACL in the GREEN domain. I can't do that as it stands today.

The difference is, I don't have t

[2020-07-08 15:05] red-erik commented on #10
Hello Ryan,
I understand your point and I don't want you to rebuild everything to accomplish our needs. I was only suggesting that "it would be fine" to have this configuration working because it's quite diffused (based on MS best practice) to have a Management Directory with a One way trust to the Production Directory.
Anyway, the solution 2 is clearly suitable, we only need to re-run the scripts

[2020-07-08 20:50] PrzemyslawKlys opened #29 "Matched Reader Principal in email doesn't match"
So I'm testing LAPS WEB as a tool for our company.

I've now got an email that I've successfully requested a password except Matched Reader Principal in the email doesn't match the group that my user is in. I have 2 groups in test config

[code]

My user is in DOMAIN2\Domain Admins and it is showing wrong reader principal. (1st one).

[2020-07-08 21:04] PrzemyslawKlys opened #30 "Minor typos LAP instead of LAPS?"
I know it's just a minor typo or some other reason but it seems weird:
- The title of an email says LAP for PC$ accessed by ... - I guess by default it should be LAPS?
- URL to access LAPS -> http://mydomain/Lap/Get - I guess it should be Laps?

Or am I just misreading it and LAP makes some sense ?:)

[2020-07-08 21:54] relzinga1 opened #31 "The requested computer does not have a LAPS password"
I have read a couple of your cases where the error "The requested computer does not have a LAPS password" was a problem and I have tried using the all of the commands below and they run successfully. I went into ADSI and made sure I had the special permissons on those OUs. I even deleted my service account and rebuilt it. LAPS works fine from the UI that LAPS/MS provides, but I continue to get. "T

[2020-07-09 01:09] ryannewington commented on #29
@PrzemyslawKlys can you share your app log file? If you don't want to paste here, you can email to me at ryan@lithnet.io+

[2020-07-09 01:11] ryannewington commented on #30
I'm working on v2 at the moment, and the email subject is configurable in that version.

But LAP is short for '**local admin password** for PC$ accessed by'
Otherwise it would be '**local admin password solution** for PC$ accessed by' which wouldn't make sense.

[2020-07-09 01:13] ryannewington commented on #31
@relzinga1 can you tell me a bit about your domain structure. Is the Lithnet LAPS web app running in the same domain and forest as the target computer?

[2020-07-09 01:19] ryannewington commented on #10
@red-erik thanks for getting back to me. I'm definitely committed to making sure the tool works in all environments. We are also moving to ESAE/red forest model in our environment, so that scenario is key to support. But yeah, we're a fundamentally different application to the native client, and we have to work within the bounds of what Windows allows us to do. The important thing is that we have

[2020-07-09 06:09] PrzemyslawKlys commented on #30
Tnx

[2020-07-09 06:09] #30 closed

[2020-07-09 06:27] PrzemyslawKlys commented on #10
Quick question - Does current release (public) supports a single forest with multiple domains? I saw that there were some 'test versions' uploaded to this thread just not sure if it has been already part of the current build and you're just fighting now with cross-forest scenarios?

[2020-07-09 08:28] ryannewington commented on #10
@PrzemyslawKlys To be honest, I've lost track of what build fixed what. You are good to use the build linked in this comment. This is used in production in my own environment.

https://github.com/lithnet/laps-web/issues/10#issuecomment-543568975

That build will work for the scenario you described. The complicated scenario is in one way trusts with external forests.

V2 will be out for testing soo

[2020-07-09 08:37] PrzemyslawKlys commented on #10
Cool, I'll wait for that one then. I can help you test it on cross-forest one if needed as I have like 5 forests connected to one, tho with Twoway trusts.

Btw. I was thinking to write PS module to allow easy editing (adding/removing) the XML file - but as I read your message it means there will be different interface for adding everything? Should I wait or when my Client will want this feature wr

[2020-07-09 09:30] ryannewington commented on #10
@PrzemyslawKlys Yes it's a full user interface for configuring all settings and permissions. It's a different json-based config file as well. The new app runs on dot net core and does away with IIS and instead runs on http.sys. Quite a lot has changed. It also provides a powershell based rule to allow you to check an external system for permission (Eg primary user from sccm)

I appreciate the offe

[2020-07-09 09:31] PrzemyslawKlys commented on #10
Any eta?

[2020-07-09 10:11] ryannewington commented on #10
~2 weeks. UI is not my strong suit so it's taking be a bit longer than I would like.

________________________________
From: Przemysław Kłys <notifications@github.com>
Sent: Thursday, July 9, 2020 7:31:25 PM
To: lithnet/laps-web <laps-web@noreply.github.com>
Cc: Ryan Newington <ryan@lithnet.io>; Mention <mention@noreply.github.com>
Subject: Re: [lithnet/laps-web] Working in multiple domains in the

[2020-07-09 11:44] sylwester-majcher commented on #10
Hi Guys,

Good news. I also wait!

Pozdrawiam
Sylwester Majcher
________________________________
Od: Ryan Newington <notifications@github.com>
Wysłane: Thursday, July 9, 2020 12:11:35 PM
Do: lithnet/laps-web <laps-web@noreply.github.com>
DW: Subscribed <subscribed@noreply.github.com>
Temat: Re: [lithnet/laps-web] Working in multiple domains in the same forest (#10)

~2 weeks. UI is not my strong s

[2020-07-09 13:41] relzinga1 commented on #31
We do have multiple domains but everything I am doing here is all contained in one domain.

Thank you,
Roger Elzinga

From: Ryan Newington <notifications@github.com>
Sent: Wednesday, July 8, 2020 7:13 PM
To: lithnet/laps-web <laps-web@noreply.github.com>
Cc: Roger Elzinga <relzinga@co.jefferson.co.us>; Mention <mention@noreply.github.com>
Subject: Re: [lithnet/laps-web] The requested computer does

[2020-07-09 19:11] ryannewington commented on #31
I'm just wondering if there is something going on with the gmsa. Have you tried using a normal account just to test. I can't think of why a gmsa wouldn't work, but it's worth a shot. At least you can also confirm that the service account can read laps passwords with the native client as well. The Poweshell cmdlets you are using should be all that is required

[2020-07-17 18:14] dr-raypc opened #32 "Your request could not be processed because your SSO identity could not be found in the directory"
Hello Ryan,

I followed your documentation and setup MFA with our Azure Active Directory. When signing in and accepting the MFA pop up, I receive the following error message: "An authentication error occurred : Your request could not be processed because your SSO identity could not be found in the directory"

How can I solve this?

[2020-07-17 20:27] ryannewington commented on #32
Hi @dr-raypc

This usually means that the UPN claim is not being sent from the idp.

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

[2020-07-20 15:20] dr-raypc commented on #32
Thank you for that information, Ryan! I was able to bypass that error message however now I receive an "Access Denied" error when attempting to view LAPS passwords inside a testing OU.

I read through the documentation and verified my config file is correct. Any idea why I am receiving this access denied error?

I noticed I do not have a D drive set on this machine and cannot locate the script sho

[2020-07-20 15:24] dr-raypc commented on #32
Disregard --- It appears the service account did not get configured properly (missed " at end of DSCALS command).

I appreciate all of your help, Ryan!

[2020-07-21 22:36] pconnell247 opened #33 "Authentication filtering at an application level"
For a Lithnet LAPS deployment that uses AD FS for authentication, does Lithnet LAPS have a way to perform authentication to the WebGUI at the application level as opposed to higher up at the AD FS server level?

[2020-07-21 22:39] ryannewington commented on #33
Hey @pconnell247

I'm not sure I understand the question. Can you describe the scenario you're trying to accommodate.

[2020-07-22 10:32] pconnell247 commented on #33
Hey @ryannewington
Sorry i was unclear. Is there a way within Lithnet LAPS to restrict who is able to login to the Web GUI interface? I guess i am asking if there is a login page that can be enabled where authentication restrictions can be applied to only allow specific users to login

The scenario i am trying to accommodate is at present the Lithnet LAPS instance i have spun up allows everyone wi

[2020-07-22 10:41] ryannewington commented on #33
Thanks for the additional explanation @pconnell247. I understand what you are trying to achieve.

Unfortunately, the current version doesn't provide this functionality when using ADFS. Fine grained authorization is performed using the target mechanism in the web.config file, but if you want to broadly prevent people logging into the app, then you'll need to block this at the ADFS level with an app

[2020-07-28 09:11] red-erik commented on #10
Hello Ryan,
we can't wait to test the new release (pre-compiled) :-)

Red.

[2020-07-28 10:08] ryannewington commented on #10
You've all been very patient. It's getting very close to being done. I have been working on this non-stop to try and get it out the door. The beta version should be available very soon. Until then, here is a sneak peak of the new config UI

![image](https://user-images.githubusercontent.com/17229877/88652155-c817bb80-d10d-11ea-9277-22af9fbc629b.png)

[2020-07-28 10:16] PrzemyslawKlys commented on #10
Take your time :-) looks great!

[2020-07-28 10:23] red-erik commented on #10
Looks great, really.
Thank you in advance.

Red.

[2020-07-28 15:32] sylwester-majcher commented on #10
Fantastic!

Pozdrawiam
Sylwester Majcher
________________________________
Od: red-erik <notifications@github.com>
Wysłane: Tuesday, July 28, 2020 12:23:36 PM
Do: lithnet/laps-web <laps-web@noreply.github.com>
DW: sylwester-majcher <sylwester.majcher@outlook.com>; Comment <comment@noreply.github.com>
Temat: Re: [lithnet/laps-web] Working in multiple domains in the same forest (#10)

Looks great, re

[2020-08-02 10:04] PrzemyslawKlys opened #34 "LAPS Expiry not optional"
It seems LAPS expiry option seems to be required and not optional. If you don't set it you will get an error when trying to get password - I tried finding a way to edit Wiki but couldn't.

Additionally can you describe what happens when you set expire in 2hours? Does it simply mean resetting date of LAPS in AD and then it can take X amount of hours/days to actually enforce anything on the workstat

[2020-08-02 10:21] ryannewington commented on #34
Have a look at #20. You should just be able to delete the expires-after attribute.

[2020-08-02 10:22] ryannewington commented on #34
Yes, we write a new expiry date to AD. The next time the laps agent on the pc runs, if it's passed the new expiry date, it will change the password.

[2020-08-02 10:23] ryannewington commented on #32
Hey @dr-raypc

Were you able to get this working?

[2020-08-02 10:24] PrzemyslawKlys commented on #34
Right :-) So in some cases it can be days ;-) Thank you. Btw I saw Just-in-time on screenshot from new version - is this something else from current implementation?

[2020-08-02 10:24] #34 closed

[2020-08-02 10:42] ryannewington commented on #34
Yep 😄 loootsss of new features and functionality in the new version

[2020-08-04 06:12] ryannewington commented on #10
Hi all

We're getting very close to being ready for a beta. Thanks again for the patience here. I have a bit of a progress update,  as well as an ask of you.

First the progress update and remaining work:
- I'm currently working on the new installation process. There's a nice MSI based installation process now.
- Then I'm turning NTLM off in my forests and testing to make sure everything works nic

[2020-08-04 06:49] PrzemyslawKlys commented on #10
LGTM ;)

[2020-08-10 16:19] Matthewc951 opened #35 "Lithnet/laps issue with okta"
Hi All,

I am looking for a little help as our security team built a lithnet webserver using IIS that is joined to a AD domain. They are wanting to use okta for Auth and SSO to access lithent webserver, but when we setup iis to use anonymous Auth we get Your request could not be processed because your SSO identity could not be found in the directory when using the okta App. Has anyone seen this me

[2020-08-10 20:15] ryannewington commented on #35
Hi matt

Are you passing a 'upn' claim from okta?

If you can email me your Web.config file I'll make sure all the configuration is correct. Support@lithnet.io

[2020-08-11 18:46] Matthewc951 commented on #35
Thanks Ryannewington,

We were able to get this resolved. It was due to how we were passing the claim from Okta. Quick question around a nice to have with the webconfig. Is there a way under targets within the web config to get it to search more than one OU? I would like to put the target at the root of our domain, so if my IT admins create more OUs for workstations I dont need to update the webco

[2020-08-11 21:53] ryannewington commented on #35
@Matthewc951 thats great news. Glad you got it sorted out.

In the next version, we have sorted this problem out. all targets will be searched for a match. This version is a few weeks away from beta release however.

For the version you are using, order matters. So if you place the OUs 'closer' to the workstations at the top of the list, and the 'fallback' domains at the bottom of the list, it sho

[2020-08-17 08:02] red-erik commented on #10
https://github.com/lithnet/access-manager/wiki/Access-evaluation-in-Access-Manager-Service-(AMS)
Clear and well described, nothing to add :-)
Waiting for the new beta to test it.
Thank you very much for all your hard work.

Red.

[2020-08-17 23:53] ryannewington commented on #10
Thanks for the feedback everyone.

Here is a status update

- New web UI is complete
- Installers are complete
- Documentation is well under way, but still a bit of work to do here. You're welcome to browse [the documentation](https://github.com/lithnet/access-manager/wiki) that has been written so far to learn about key scenarios this product supports
- I'm working on the 'first run' process at t

[2020-08-18 07:32] red-erik commented on #10
https://github.com/lithnet/access-manager/wiki
Again, clear and well done. A suggestion could be to spent some more words on "Lithnet Access Manager Agent" vs LAPS Client.
Great work ;-)

Red.

[2020-08-18 07:49] ryannewington commented on #10
Funny you mention that. I just added this page...

https://github.com/lithnet/access-manager/wiki/Choosing-a-local-admin-password-strategy

[2020-08-18 12:22] red-erik commented on #10
Really well done !!! :-)

[2020-08-30 22:13] ryannewington commented on #10
Hi all. We found an issue in testing late last week that has since been fixed, but we need to redo some of our tests early this week to make sure the issue is resolved. Everything else is ready to go, so we should have the beta out by the end of the week, provided no major issues are found. 🎉

[2020-09-02 20:56] ryannewington commented on #10
Today is the day! The first public beta is out. Thankyou all for your patience in getting to this point. I know it has been a long wait, but hopefully you'll find the wait is worth it.

I'm going to wait a bit before publicly announcing the beta, just so I have bandwidth to help you guys through your implementation and any issues you may have first, since you've been waiting the longest.

I'm real

[2020-09-02 20:56] #10 closed

[2020-09-02 20:58] ryannewington commented on #33
@pconnell247

I've implemented this feature in the replacement for laps-web, which is now Lithnet Access Manager. You can check out the feature in the beta version released today.

https://github.com/lithnet/access-manager/releases/tag/v1.0.7596-beta.1

I'll close this issue off, and if you have any issues with the implementation there, please feel free to open an issue in the new access-manager r

[2020-09-02 20:58] #33 closed

[2020-09-02 20:59] ryannewington commented on #31
@relzinga1 did you need any additional help with this?

[2020-09-02 21:00] ryannewington commented on #28
@sylwester-majcher

I've implemented this feature in the replacement for laps-web, which is now Lithnet Access Manager. You can check out the feature in the beta version released today.

https://github.com/lithnet/access-manager/releases/tag/v1.0.7596-beta.1

Ryan

[2020-09-02 21:00] #28 closed

[2020-09-02 21:00] ryannewington commented on #11
Hi all,

I've implemented this feature in the replacement for laps-web, which is now Lithnet Access Manager. You can check out the feature in the beta version released today.

https://github.com/lithnet/access-manager/releases/tag/v1.0.7596-beta.1

Ryan

[2020-09-02 21:00] #11 closed

[2020-09-02 21:01] ryannewington commented on #29
@PrzemyslawKlys did we get this one solved?

[2020-09-02 21:02] PrzemyslawKlys commented on #29
No ;) Lemme try to get the logs

[2020-09-02 21:15] PrzemyslawKlys commented on #29
Or maybe lets close it for now. I will move to new version and see how it is there. No sense in fixing old stuff :-)

[2020-09-02 21:15] #29 closed

[2020-09-13 22:22] #31 closed

[2020-10-07 17:43] Techie4Life83 opened #36 "Restricted PC access email notify"
Hi Ryan,

For a feature can we have restricted PCs, using groups maybe, that if someone changes a password in that group it can send an email out? I'm sure we can accomplish this with a SIEM or inside of event logs but thought it might be slicker to have laps-web do that though. Thoughts?

Or even summary emails go out for review. Once again this is overlap with SIEM but not everyone has those :).

[2020-10-08 20:57] ryannewington commented on #36
@Techie4Life83

One of your LAPS targets can actually be a group containing these computers. You can then set notification rules specifically for computers in that group. LAPS Web looks for computer targets, then group targets, before finally looking for ou-based targets.

You might also be interested in checking out the beta of Lithnet Access Manager. It's the new version of LAPS web, but much mo

[2020-10-09 04:41] Techie4Life83 commented on #36
Very cool. I will have to test it out and see what it can do for LAPS Web.

The Access Manager looks awesome. I cannot wait to try it out.

[2020-10-13 12:33] vaiknesiil opened #37 "Problem using gMSA accounts to read LAPS passwords."
Hello!

Installed LAPS-WEB and got it to work with regular user based with password service account, but for security reasons we would like to use Group Managed Service Accounts (gMSA).
* IIS Application Pool is working with a gMSA account.
* OU's and ms-Mcs-AdmPwd, ms-Mcs-AdmPwdExpirationTime have read/write rights for gMSA account, but the web is saying that "The requested computer does not have

[2020-10-13 20:41] ryannewington commented on #37
Hi @vaiknesiil ,

LAPS web is about to be replaced by Lithnet Access Manager which supports GMSAs out of the box. It does everything LAPS web does and more. I suggest you look to use this instead. I have heard of GMSA issues with IIS app pool accounts, but I haven't looked into exactly the cause here.

https://github.com/lithnet/access-manager/wiki

[2020-10-14 13:27] vaiknesiil commented on #37
Just for info.

Setting up Lithnet Access Manager and using those scritps to setup gMSA account fixed my problem with LAPS-WEB.
So at the moment both services are up and running.

[2020-10-14 13:30] #37 closed

[2020-10-20 15:15] jdelhome3578 opened #38 "Windows Authentication Prompt"
I am using Windows Authentication but when I go to LAPS Web url it prompts for username and password. Should it be using the current logged in user via http passthrough?

[2020-10-25 07:53] ryannewington commented on #38
@jdelhome3578

It should, if you have the server and client configured correctly.

There's a LOT to check on this topic, however, it's not specific to the web app, as all this stuff is handled by IIS.

I'd start with a tool like this to troubleshoot your kerberos server-side config

https://github.com/SurajDixit/KerberosConfigMgrIIS

And of course, ensure that your web site is added to the 'intran

[2020-11-10 14:46] spencerryan opened #39 "Clarify expire-after TimeSpan parsing in documentation"
The note for "expire-after" on the Permissions wiki page states

However it is very unclear that this is being fed right into .NET's TimeSpan.Parse and the results might not be what you expected. For example I originally set mine to 24:00:00 for 1 day however this resulted in 24 days, which is exactly what the .NET documentation says:

Perhaps simply updating the note that uses mostly what the .NE

[2020-11-10 21:01] ryannewington commented on #39
@spencerryan Thanks for this contribution! A good pick up!

I've made the updates to the wiki as suggested.

https://github.com/lithnet/laps-web/wiki/Permissions#expire-after-data-format

[2020-11-10 21:01] #39 closed

[2020-11-18 17:38] nurfed1 opened #40 "Nevermind"
nevermind

[2020-11-18 17:46] #40 closed

[2020-11-18 19:36] ryannewington commented on #40
Yeah this is a known issue. Check out the new version of laps web, lithnet access manager which has an much more sophisticated authorisation framework

https://github.com/lithnet/access-manager/wiki

________________________________
From: nurfed1 <notifications@github.com>
Sent: Thursday, November 19, 2020 4:38:31 AM
To: lithnet/laps-web <laps-web@noreply.github.com>
Cc: Subscribed <subscribed@nor

[2020-12-03 18:19] chadht opened #41 "Lithnet LAPS web app not recognizing child domain"
Hi. Is there a solution getting the Lithnet LAPS web app to recognize a child domain? I'm able to get the password for computers in the child domain using the LAPS UI but when I use the Lithnet LAPS web app it says the requested computer was not found in the directory. Any insight is appreciated.

Thanks,
Chad

[2020-12-03 19:28] ryannewington commented on #41
Hey @chadht

I recommend you move over to the next generation of laps web, Lithnet Access Manager.

https://github.com/lithnet/access-manager/wiki

It has full support for multi domain environments and tonnes of other improvements.

While it's technically still in beta at the moment, the LAPS functionality is stable and supported for production use.

[2020-12-03 19:35] ryannewington commented on #41
Alternatively [this comment](https://github.com/lithnet/laps-web/issues/10#issuecomment-542144374)  contains details of a build that support global catalog lookups for cross domain access. It will work in a simple child domain scenario, but access manager is the way to go for full support.

[2020-12-03 20:08] chadht commented on #41
Hey Ryan,

Thanks for your quick response! I will look at the comment and also the access manager option.

Thanks,
Chad Tidgewell
Technology Support | HCPSS
techsupport@hcpss.org<mailto:techsupport@hcpss.org> | Technology Resources<https://hcpss.instructure.com/courses/32959>

The information contained in this email transmission is privileged and/or confidential and is intended solely for the excl

[2020-12-10 17:30] chadht commented on #41
Hi Ryan,

For now I decided use build v1.0.7320. I setup two servers that will host the LithnetLAPS web app, one for each or our domains. I have no problem finding computers on the parent domain using the LAPS UI or the LithnetLAPS web app. I’m able to find computers on the child domain using the LAPS UI but when I use the LithnetLAPS web app the message says “the requested computer was not found

[2020-12-10 20:18] ryannewington commented on #41
7320 doesn't have child domain support.

I strongly recommend to just use access manager. One of the primary reasons it was written was to introduce multi domain and forest support. I had to rewrite the authorisation engine to properly support these scenarios. Laps web is supported for standalone domains only and isn't being developed further.

[2020-12-15 19:59] #36 closed

[2020-12-31 10:48] #38 closed

[2021-01-01 10:56] simonford99 opened #42 "COM Exception Error"
Hi

I am getting the following error. I have checked the service account and this can read LAPS passwords and write a new expiry date.

Any ideas?

2021-01-01 10:47:04.0777| INFO|xxxx has requested the password for EDNDWX004463
2021-01-01 10:47:04.1677|TRACE|Matched EDNDWX004463$ to target OU OU=Member Clients,DC=bodxxx,dc=loxxx
2021-01-01 10:47:06.5028|ERROR|An unhandled error occurred while proc

[2021-01-01 20:17] ryannewington commented on #42
Hi Simon

There's likely a typo in one of your target names.

The error you are getting means the AD returned a message to stay it's not authoritative for the naming context provided.

Ryan

[2021-01-05 14:45] simonford99 commented on #42
Hi Ryan

Many thanks. I had only updated one of the targets and left the other with generic information. I commented this out and all working.

Thank again

Simon

[2021-01-05 15:59] #42 closed

[2021-01-26 19:55] sceptapular commented on #19
Same issue here; unrelated to the browser though.  Using WS2019 for the IIS server.  Same issue whether testing on the server itself or via a member PC's browser.  First time trying this.

[2021-01-26 19:58] sceptapular commented on #19
An unhandled error occurred while processing the request for the password for *computername* by user unknown
System.Runtime.InteropServices.COMException (0x8007200A): The specified directory service attribute or value does not exist.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.Directory

[2021-01-26 21:00] ryannewington opened #43 "An unhandled error occurred while processing the request for the password for *computername* by user unknown"
An unhandled error occurred while processing the request for the password for *computername* by user unknown
System.Runtime.InteropServices.COMException (0x8007200A): The specified directory service attribute or value does not exist.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.Directory

[2021-01-26 21:00] ryannewington commented on #43
@sceptapular I've moved this to a new issue as its unrelated to the other closed issue

[2021-01-26 21:01] ryannewington commented on #43
Do the suggestions in this article help? Eg have permissions on the users or computers container in the domain been restricted?

https://medium.com/markus-blog/authentication-problems-with-principalcontext-cc0a0489867c

[2021-01-26 21:02] ryannewington commented on #43
(not the code changes, but the permission changes as the root cause)

[2021-01-26 21:03] ryannewington commented on #19
Moved to #43

[2021-01-26 21:28] sceptapular commented on #43
Ryan:
Firstly, thank you for the legendary quick response!
I did make progress after adding the LAPS service account to Domain Admins for now; now, the error says " You are not authorized to access the password for this computer" .  I'm looking into it.

[2021-01-26 21:29] sceptapular commented on #43
I am also accessing LAPSweb with a domain admin account.

[2021-01-27 01:18] ryannewington commented on #43
@sceptapular that means you need to create an authorisation rule for that user

https://github.com/lithnet/laps-web/wiki/Permissions

[2021-01-27 13:58] sceptapular commented on #43
I suspected as much, and I pored over my web.config file.  I even added
myself directly, in addition to my membership in the originally-defined
security group.  I even moved my test computer into the immediate OU
referenced, in case it wasn't reading sub-OUs well.  Must be something
simple somewhere...hmmm...

Crazy question - do you have a few minutes to spare and look over my
setup?  I'd pay you

[2021-01-27 14:33] sceptapular commented on #43
My anon web.config file follows:
<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="lithnet-laps" type="Lithnet.Laps.Web.LapsConfigSection"
/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="
http://www.w3.org/2001/XMLSchema-instance">

[2021-01-27 14:58] sceptapular commented on #43
My account is part of 'Domain Admins'. The computers are either within the referenced 'Computers' OU or in its subfolders.  As my account, I have full admin rights on all client PCs.  I have even directly specified myself as administrator on a test PC.

Also, after making a web.config change, does anything need to be done to apply it?  restarting the website? IIS?  rebooting the target client?...

[2021-01-27 15:04] sceptapular commented on #43
Amateur hour!  Targets section was still commented.  SUCCESS!!!

[2021-01-27 19:54] ryannewington commented on #43
Excellent! Yes sorry this traps quite a few people. The next version of this app is all driven from a configuration UI so hopefully this sort of confusion is a thing of the past soon!

[2021-02-21 22:45] #41 closed

[2021-02-26 04:41] version12 opened #44 "Logging to file system"
Is there anything special that is required to enable logging to the filesystem?   I see the config setting in the web.config but no file seems to appear in /app_data/log.  I did enable eventlog logging as well.

[2021-03-01 10:48] ryannewington commented on #44
@version12 You just need to ensure the app pool account has write access to the logs folder and they should appear automatically

[2021-03-11 20:34] shift-faced opened #45 "Timezone differences?"
How does this app work when the executing computer is in the PST timezone and the target timezone is in EST?
I just retrieved a LAPS password for a user (configured to expire in 2 hours) at 12pm PST and sent it to him in NYC. He's saying it didn't work. Is it because it's already "past" 2 hours in New York?

[2021-03-11 20:38] ryannewington commented on #45
The times are stored in utc in AD, so time zones do not matter in this sense.

Also keep in mind that laps client checks for password expiry on gp refresh, so the password is going to expire on the next gp refresh *after* the expiry time specified (could be up to 90mins after the specified expiry time).

[2021-03-11 20:43] shift-faced commented on #45
Gotcha, thank you for the confirmation. That's great to know. Turns out the user was using the wrong username lol. I got him squared away.
I shall close this.

[2021-03-11 20:43] #45 closed

[2021-03-30 02:09] ygross opened #46 "logo is changing on http but not changing in https"
idont understand how logo appears in https but not showing in HTTPS

[2021-04-01 11:07] Dlm0n64 commented on #43
Hi Everyone!

I have the issue with getting a password.
You can see the log below
---------------------------------------------
System.DirectoryServices.DirectoryServicesCOMException (0x80072030): There is no such object on the server.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.Directo

[2021-04-01 11:09] Dlm0n64 commented on #43
Hi Everyone!

I have the issue with getting a password.
You can see the log below

System.DirectoryServices.DirectoryServicesCOMException (0x80072030): There is no such object on the server.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.DirectoryEntry.get_AdsObject()
   at System.Director

[2021-04-01 13:23] Dlm0n64 commented on #43
And one more important thing is that application has worked perfect few month ago.
I didn't catch the moment when the issue happened.

[2021-04-04 03:30] ryannewington commented on #46
@ygross I suspect this might be caused by the browser caching the old logo. The web site serves the same content via HTTP and HTTPS.

[2021-04-04 03:34] ryannewington opened #47 ""There is no such object on the server" error when trying to match targets"
Hi Everyone!

I have the issue with getting a password.
You can see the log below

System.DirectoryServices.DirectoryServicesCOMException (0x80072030): There is no such object on the server.

   at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
   at System.DirectoryServices.DirectoryEntry.Bind()
   at System.DirectoryServices.DirectoryEntry.get_AdsObject()
   at System.Director

[2021-04-04 03:35] ryannewington commented on #43
@Dlm0n64  I've moved your comment to a new issue, as it is unrelated to the issue logged here. Let's continue the conversation in #47

[2021-04-04 03:35] #43 closed

[2021-04-04 03:36] ryannewington commented on #47
@Dlm0n64

This is usually due to a typo in one of the OU targets in your web.config file. Double check all the targets. If they appear correct, please send your config file to support@lithnet.io

[2021-04-05 07:25] Dlm0n64 commented on #47
Hello Ryannewington,

Thanks for quick response.
Yep, you're right.
There was an OU bug. One of the OU has been removed\renamed in AD schema and web configuration has malfunction.
As soon as I found this bug it began to work properly.

Could you also clarify please are there any restrictions about on the numbers of OUs in the config file ?  (I have more than hundred of it)

[2021-04-05 07:42] ryannewington commented on #47
@Dlm0n64

Glad to hear you got it working.

There is no practical limit on the number of OUs in your config file, however, performance may not be too good if there are too many.

You might want to have a look at Access Manager, which will soon be replacing Laps Web. This has been tuned for large numbers of rules, and you can import your rules from LAPS web directly into the new app. https://github

[2021-04-05 09:12] Dlm0n64 commented on #47
Yes, I saw the link to the new app, thank you.
So far, we are satisfied with this solution, the simpler the better

Is there any fix solution to avoid this kind of bug?. So that when you change the AD schema, the config file works as usual without errors and just skips the OU that was not found

[2021-04-05 09:22] ryannewington commented on #47
Unfortunately not. This particular issue is fixed in access manager, however we aren't investing in any more changes to the laps web code base.

[2021-04-22 22:09] #47 closed

[2021-04-22 22:10] #46 closed

[2021-04-22 22:10] #44 closed

[2021-05-05 22:17] Afsars12 opened #50 "Not able to retrieve the server object password."
Hi Team,

I have an issue with Lithnet, I have two OUs under the parent OU.

OU=XYZ,DC=contoso,DC=com (Permissions set on parent OU)
OU=computers,OU=XYZ,DC=contoso,DC=com (Able to retrieve the password) permission inherited
OU=Servers,OU=XYZ,DC=contoso,DC=com(Not able to retrieve the password) permission inherited

the only difference is computer OU contain workstations and Servers OU containss se

[2021-05-08 01:13] Afsars12 opened #51 "Targets in XML file"
Hi Team,

Please help me in understanding targets in the XML file.

I have 10 targets in an XML file with its associated readers, all were working properly. One OU got decommissioned without our knowledge, and we started receiving **unknown error occurred** in the application. After removing the decommissioned OU/target application we are able to retrieve the passwords.

How can we bypass this err

[2021-05-09 06:28] ryannewington commented on #51
Hi @Afsars12,

That's a known issue with LAPS web. It's successor, [Lithnet Access Manager](https://github.com/lithnet/access-manager) does not have this issue.

[2021-05-23 01:49] #51 closed